<!DOCTYPE html>
<html>
    <head>
        <title>Calendar This</title>
    </head>
    <body>
        <form method="POST" action="/">
            {{ form.csrf_token }}
            <p>{{ form.name.label }} {{ form.name() }}</p>

            <div>
                <p>{{ form.start_date.label }} {{ form.start_date() }}</p>
                <p>{{ form.start_time.label }} {{ form.start_time() }}</p>
                <p>{{ form.end_date.label }} {{ form.end_date() }}</p>
                <p>{{ form.end_time.label }} {{ form.end_time() }}</p>
                {% if form.end_date.errors %}
                   <ul>
                      {% for error in form.end_date.errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                   </ul>
                {% endif %}
            </div>

            <p>{{ form.description.label }} {{ form.description() }}</p>
            <p>{{ form.private.label }} {{ form.private() }}</p>
            <p>{{ form.submit() }}</p>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start</th>
                    <th>End</th>
                </tr>
            </thead>
            <tbody>
                {% for (id, name, start_date, end_date) in rows %}
                  <tr>
                    <td>{{ name }}</td>
                    <td>{{ start_date.strftime("%H:%M") }}</td>
                    <td>{{ end_date.strftime("%H:%M") }} </td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
