<!DOCTYPE html>
<html>
    <head>
        <title>Calendar This</title>
    </head>
    <body>
        <h1>Calendar working</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start</th>
                    <th>End</th>
                </tr>
            </thead>
            <tbody>
                {% for (id, name, start_date, end_date) in rows %}
                  <tr>
                    <td>{{ name }}</td>
                    <td>{{ start_date.strftime("%H:%M") }}</td>
                    <td>{{ end_date.strftime("%H:%M") }} </td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
